body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

#board {
    width: 450px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.case {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    line-height: 150px;
    color: rgb(131, 122, 105);
}

#pos4 {
    border: 1px solid rosybrown;
}

#pos1, #pos7 {
    border-left: 1px solid rosybrown;
    border-right: 1px solid rosybrown;
}

#pos3, #pos5 {
    border-top: 1px solid rosybrown;
    border-bottom: 1px solid rosybrown;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 450px;
    background-color: rosybrown;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 100px 15px;
    text-align: center;
    font-size: 25px;
}

.end {
    margin-bottom: 100px;
}

input {
    width: 250px;
    border: 1px solid rgb(214, 178, 178);
    font-size: 22px;
    margin: 5px;
    padding: 0 3px;
    line-height: 1.8em;
}

.overlay .button {
    border: 1px solid rgb(131, 122, 105);
    background-color: rgb(214, 178, 178);
    box-sizing: border-box;
    padding: 8px;
    margin: 30px 0 0 0;
}

.overlay .button:hover {
    background-color: rgb(165, 133, 133);
}